docker {
  runOptions = '-u $(id -u):$(id -g) -v ${projectDir}/external_tools:/workspace/tools'
}

params {
  hotspot_selector_cmd = 'python /workspace/tools/hotspot_selector/main.py'
  protein_recharge_cmd = 'python /workspace/tools/ProteinRecharge/main.py'
  freebindcraft_cmd = 'python /workspace/tools/FreeBindCraft/main.py'
  mutant_zoo_cmd = 'python /workspace/tools/MUTANT_ZOO/main.py'
}

