process {
  executor = 'local'
  maxForks = 8
  withLabel:small { cpus = 2; memory = '4 GB'; time = '3h' }
  withLabel:medium { cpus = 4; memory = '16 GB'; time = '3h' }
  withLabel:large { cpus = 8; memory = '32 GB'; time = '3h' }

  withName:RFD3_DESIGN { time = '48h' }
  withName:FREEBINDCRAFT_FILTERING { time = '48h' }
}

timeline {
  enabled = true
  file = "${params.outdir}/manifests/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.outdir}/manifests/execution_report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.outdir}/manifests/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.outdir}/manifests/dag.svg"
}
