process {
  executor = 'slurm'
  queue = 'compute'
  scratch = true

  withLabel:small { cpus = 2; memory = '8 GB'; time = '2h' }
  withLabel:medium { cpus = 8; memory = '32 GB'; time = '12h' }
  withLabel:large { cpus = 16; memory = '64 GB'; time = '48h' }
}

executor {
  queueSize = 200
  submitRateLimit = '20 sec'
}

